/* https://lospec.com/palette-list/grayscale-16 */

@font-face {
  font-family: "Roboto";
  src: 
    url("./assets/roboto-variablefont_wdthwght-webfont.woff") format("woff"),
    url("./assets/roboto-variablefont_wdthwght-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #383838
}

body {
  /* min-height needs to be adjusted when vertical margin is added */
  min-height: calc(100dvh - 0.5rem);
  margin: 0.25rem;

  background-color: #d1d1d1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

header {
  width: calc(100% - 0.5rem);
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;

  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 0.5rem;
  box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, 20%);

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 2rem;
}

button {
  padding: 0.25rem;
  font-size: 1rem;

  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 0.5rem;

  transition: all 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
}

button img{
  width: 3ch;
}

button:hover {
  transform: translateY(-0.25rem);
  box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, 20%);
}

button:active {
  background-color: #d1d1d1;
}

span#title {
  display: flex;
  gap: 0.5ch;
}

span#yet {
  font-size: 0.75rem;
  color: #646464;
}

span#another {
  font-size: 1.25rem;
  font-style: italic;
}

span#todo {
  font-size: 2rem;
  color: black;
  font-weight: bolder;
}

div#display {
  margin: 0.5rem;
  width: calc(100% - 0.5rem);
  min-height: 100%;
  flex-grow: 1;

  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 1rem;

  transition: all 0.3s ease-out;
}

div#display.hidden {
  grid-template-columns: 0fr 1fr;
  gap: 0;
}

div#menu-area {
  padding: 0.75rem 0.5rem;
  white-space: nowrap;

  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 0.5rem;
  box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, 20%);

  display: flex;
  flex-direction: column;
}

div#display.hidden div#menu-area {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: 0;
}

div#display.hidden div#menu-area > * {
  display: none;
}

div#menu-area ul {
  margin-left: 1rem;
  list-style-type: none;
  font-size: 1.2rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

div#menu-area ul li {
  transition: all 0.3s ease
}

li span {
  transition: all 0.3s ease
}

div#menu-area ul li:hover, li:hover span {
  transform: translateY(-0.25rem);
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 20%);
  color: black;
  cursor: default;
}

div#list-area {
    padding: 0.25rem 0.5rem;
  
    background-color: white;
    border: 1px solid #e7e7e7;
    border-radius: 0.5rem;
    box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, 20%);
  
    display: flex;
    flex-direction: column;
}

div#list-area.empty {
  align-items: center;
  justify-content: center;
}

div#placeholder {
  padding: 0.25rem 0.5rem;

  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 0.5rem;
  box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, 20%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

span#ph-title {
  font-size: 1.5rem;
  color: black;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 0.25rem 0.5rem;

  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 0.5rem;
  box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, 20%);
}

dialog:focus {
  outline: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 20%);
  backdrop-filter: blur(2px);
}

#dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#dialog-title {
  color: black;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

dialog button {
  width: 8ch;
}

#form-toggles {
  display: flex;
  gap: 0.5em;
}

#form-toggles button.selected, .prio-buttons button.selected {
  background-color: black;
  color: white;
}

#form-toggles button.selected:hover, .prio-buttons button.selected {
  transform: none;
  box-shadow: none;
}

.form-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

label {
  font-size: 0.75rem;
  width: 9ch;
}

.form-input input, textarea, select {
  flex-grow: 1;

  padding: 0.25rem;
  
  background-color: white;
  border: 2px solid #e7e7e7;
  border-radius: 0.5rem;
}

input[name="name"] {
  min-width: 30ch;
}

textarea {
  resize: none;
  height: 4em;

  font-size: 0.75em;
}

.prio-buttons {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;

  flex-grow: 1;
}
.prio-buttons button {
  font-size: 0.75em;
  width: 9ch;
}

#form-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}